
<!--Nav bar with tellepathy heading-->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><b>Tel3pathy</b></a>
</nav>

<!--Center heading of Request sent-->
<div class="heading">
  <div class="container-fluid">
    <b><h1 class="text-center">Request Sent</h1></b>
  </div>
  </div>

<!--Call request sent text-->
<div class="container">
  <div class="request-text">
  <p class="text-center" style="color: #95989A;font-size: 15px;margin-top: 6px;">Your request to schedule a call with {{rejectorsFirstName}} between {{proposeTime}} has been sent to {{rejectorsFirstName}}.</p>
  </div>
</div>

<!-- Call Confirmation Text-->
<div class="container">
  <div class="confirmation-text">
  <p>Confirmation will be sent to you soon.</p>
  </div>
</div>
<br>
<br>

<!--Download Tellepathy app text-->
<div class="Download-app">
<div class="container">
  <p class="text-center" style="color: #95989A">Download Tel3pathy app for managing your calls now</p>
</div>
</div>
<br>
<br> 
<!--Google play store and Apple app store icons-->
<div class="store-images">
<img src="./assets/apple.png" class="apple-img" alt="...">
<img src="./assets/android.png" class="android-img" alt="...">
</div>


